<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    <nav>
        <h4>Identity Migration Tool</h4>
    </nav>

     <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded" style="text-align: center;">
            <p>This is where the <b>MAGIC!</b> begins.</p>
            <p>Select you Destination tool and fill the required details.</p>
        </div>
    </div>

    <div class="container mt-4">
        <form id="sourceForm" action="/getSelected" method="POST">
            <select id="selectpicker" data-style="btn-info" name="selectpicker">
                <optgroup label="Select Source Type">
                    <option name="" value="0">Select Destination Tool</option>
                    <option name="table1" value="4">Auth0</option>
                    <option name="table2" value="5">Ping Federate</option>
                    <option name="table3" value="6">Okta</option>
                </optgroup>
            </select>
            <input type='submit'name ='register'>
        </form>
    </div>
</body>
</html>