<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    <nav>
        <h4>Identity Migration Tool</h4>
    </nav>

    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <p>This project demostrates how easily we can migrate the user identities from a legacy system to modern IDaaS solutions. Click on below Proceed button to experience the <b>MAGIC!</b></p>
            <a href="/source" style="text-decoration: none; color:#ffffff; font-size:30px;">Proceed</a>
        </div>
    </div>
</body>
</html>