<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    <nav>
        <h4>Identity Migration Tool</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/source">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded" style="text-align: center;">
            <h3>Ping Federate Ingredients</h3>
            <p>Fill the following ingredients for <b>MAGIC</b> to begin.</p>
        </div>
        </div>
    </div>
</body>
</html>